<!DOCTYPE html>
<html>
  <head>
    <title>Autocon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand mb-0 h1"></span>
        <%= link_to "Autocon", root_path, class: "navbar-brand" %>
        <ul class="nav nav-pills">
          <li class="nav-item pull-md-left"><%= link_to "Home", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
          <% if user_signed_in? %>
            <li class="nav-item"><%= button_to "Sair", signout_path, method: :delete, class: "btn btn-primary" %></li>
            <% else %>
             <li class="nav-item"><%= link_to "Cadastrar", signup_path, class: "btn btn-outline-primary" %></li>
             <li class="nav-item pull-md-right"><%= link_to "Entrar", signin_path, class: "btn btn-primary" %></li>
            <% end %>
        </ul>
      </div>
    </nav>


      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <!-- Page Content -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>©2021 Autocon</p>
        </center>
      </div>
    </footer>

  </body>
</html>
